#autocomplete {
  binding: url("autocomplete.xml#autocomplete");
}

#constraints {
  binding: url("bubbles.xml#constraint-list");
}

#query {
  binding: url("messages.xml#query");
}

.message {
  binding: url("messages.xml#message");
}

.auco_contact {
  binding: url("autocomplete.xml#contact-completion");
}
