.rdwAttachments {
    margin: 8px 0;
}

.rdwAttachments:empty {
  display: none;
}

.rdwAttachments .link a {
  color: #ff5959;
  text-decoration: none;
}

.rdwAttachments .link a:hover {
  text-decoration: underline;
}

.rdwAttachments .attachTabs {
    z-index: 10;
    margin: 0 0 0 20px;
}

.rdwAttachments .attachTab {
    display: inline-block;
    border: 1px solid gray;
    border-bottom: 0 none transparent;
    z-index: 10;
    background: white;
    margin-bottom: -1px;
}

.rdwAttachments .attachContents {
  margin: -7px 5px 10px 0;
  padding: 8px 5px;
  position: relative;
  -moz-border-image: url("../i/new/rd_attachments_bg2.png") 10 14 3 2;
  -webkit-border-image: url("../i/new/rd_attachments_bg2.png") 10 14 3 2;
  border-width: 10px 14px 3px 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.rdwAttachments .attachAction {
    position: absolute;
    top: 10%;
    right: 0;
}

.rdwAttachments .attachDisplay {
    width: 463px;
    height: 120px;
    overflow: hidden;
}

.rdwMessage.reply .rdwAttachments .attachDisplay {
    width: 398px;
}

.rdwAttachments .attachScroll {
    width: 10000px;
    height: 100%;
}

.rdwAttachments .attachScroll > div {
    display: inline-block;
    width: 463px;
    height: 100%;
}

.rdwMessage.reply .rdwAttachments .attachScroll > div {
    width: 398px;
}
