.rdwAttachments {
    margin: 8px 0;
}

.rdwAttachments:empty {
  display: none;
}

.rdwAttachments .link a,
.rdwAttachments .file a {
  color: #ff5959;
  text-decoration: none;
}

.rdwAttachments .link a:hover {
  text-decoration: underline;
}

.rdwAttachments .attachTabs {
  z-index: 1;
  margin: 0 0 0 10px;
}

.rdwAttachments .attachTab {
  color: #666;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6 #ccc #fafafa;
  background: white;
  margin: 0 1px -2px -6px;
  padding: 0 10px;
  -moz-border-radius: 5px 5px 2px 2px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;  
  font-size: 10px;
  background-image: url("../i/new/rd_tab_bg.png");
  background-repeat: repeat-x;
  position: relative;
}

.rdwAttachments .attachTab:first-child {
  z-index: 1;
  margin: 0 1px -2px 0;
}

.rdwAttachments .attachContents {
  margin: -7px 5px 10px 5px;
  padding: 8px 5px;
  position: relative;
  -moz-border-image: url("../i/new/rd_attachments_bg2.png") 10 14 3 2;
  -webkit-border-image: url("../i/new/rd_attachments_bg2.png") 10 14 3 2;
  border-width: 10px 14px 3px 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.rdwExtTwitterMessage .rdwAttachments .attachContents {
  margin-left: 0;
}

.rdwAttachments .attachDisplay {
    width: 463px;
    overflow: hidden;
}

.rdwMessage.reply .rdwAttachments .attachDisplay {
  width: 398px;
}

.rdwExtTwitterMessage .rdwAttachments .attachDisplay {
  width: 440px;
}

.rdwAttachments .attachScroll {
  width: 10000px;
  height: 100%;
}

.rdwAttachments .attachScroll > div {
  width: 463px;
  height: 100%;
  vertical-align: top;
}

.rdwMessage.reply .rdwAttachments .attachScroll > div {
    width: 398px;
}

.rdwExtTwitterMessage .rdwAttachments .attachScroll > div {
  width: 440px;
}

.rdwAttachments .attachAction {
    position: absolute;
    top: 7px;
    right: -7px;
}

.rdwAttachments .attachAction button[disabled] {
    color: #bbb;
    background-image: none;
    background-color: #f2f2f2;
    border-color: #e6e6e6;
}

.rdwAttachments .attachAction button[disabled]:hover {
    color: #bbb;
    background-image: none;
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
