@import url("../rdw/css/QuickCompose.css");
@import url("../rdw/css/Search.css");
@import url("../rdw/css/Stories.css");
@import url("../rdw/css/Organizer.css");

* {
  font:100%/normal verdana,geneva,sans-serif;
}

#content {
  position: relative;
  min-width: 25em;
  max-width: 50em;
}

#column1 {
  max-width: 40em;
  min-width: 10em;
  z-index: 10px;
}

#column2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  min-height: 40ex;
}
