@import url("/raindrop/dojo/dijit/themes/dijit.css");
@import url("/raindrop/lib/rdw/css/Loading.css");
@import url("/raindrop/lib/rdw/css/QuickCompose.css");
@import url("/raindrop/lib/rdw/css/Summary.css");
@import url("/raindrop/lib/rdw/css/Search.css");
@import url("/raindrop/lib/rdw/css/Stories.css");
@import url("/raindrop/lib/rdw/css/ContactList.css");
@import url("/raindrop/lib/rdw/css/Organizer.css");
@import url("/raindrop/lib/rdw/css/FaceWall.css");

* {
  font:100%/normal arial,verdana,geneva,sans-serif;
}

body {
  background-color: #888;
  margin: 0px 0px 0px 0px;
  background-image: url("i/bg.png");
}

a img{
  border: none;
}

.rdwLoading {
  float: left;
  overflow:hidden;
  display: inline-block;
  text-indent: -40em;
  width: 32px;
  height: 100px;
  background-image: url("i/ajax-loader.gif");
  background-color:transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

#content {
  position: relative;
  display: table;
  min-width: 25em;
  max-width: 55em;
  padding-left: 12px;
  background-image: url("i/bg.png");
  background-color: #e6e6e6;
  border-right: 1px solid #777;
}

#newcompose {
  float: right;
  height: 100px;
  width: 100px;
  background-image: url("i/logo2.png");
  z-index: 1;
  margin-bottom: 10px;
  margin-right: -50px;
}

#column1 {
  display: table-cell;
  width: 40em;
  padding-bottom: 24px;
}

#column2 {
  display: table-cell;
  width: 15em;
  min-height: 40ex;
  vertical-align: top;
  background-color: #e6e6e6;
  -moz-border-radius-bottomright: 5px;
  padding-bottom: 200px;
}

#footer {
  display: block;
  height: 100px;
  background-color: #333;
  border-top: 1px solid #1a1a1a;
  padding: 12px;
  font-size: x-small;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}
