@import url("/raindrop/dojo/dijit/themes/dijit.css");
@import url("/raindrop/lib/rdw/css/Loading.css");
@import url("/raindrop/lib/rdw/css/QuickCompose.css");
@import url("/raindrop/lib/rdw/css/Summary.css");
@import url("/raindrop/lib/rdw/css/Search.css");
@import url("/raindrop/lib/rdw/css/Stories.css");
@import url("/raindrop/lib/rdw/css/ContactList.css");
@import url("/raindrop/lib/rdw/css/Organizer.css");
@import url("/raindrop/lib/rdw/css/FaceWall.css");

* {
  font:100%/normal arial,verdana,geneva,sans-serif;
}

body {
  background-color: #f1f2f2;
  margin: 0px 8px 0px 8px;
}

a img{
  border: none;
}

.rdwLoading {
  position: absolute;
  top: 1ex;
  right: 1em;
}

#content {
  margin-left: 75px;
  position: relative;
  display: table;
  min-width: 25em;
  max-width: 55em;
}

#newcompose {
  background-color: #D2232A;
  -moz-border-radius: 37px;
  position: fixed;
  height: 75px;
  width: 75px;
  top: 110px;
  left: 9px;
  font-weight: bold;
  font-size: small;
  text-align: center;
  line-height: 75px;
  color: #FFF;
}

#column1 {
  display: table-cell;
  width: 40em;
}

#column2 {
  display: table-cell;
  width: 15em;
  min-height: 40ex;
  padding-top: 110px;
  vertical-align: top;
}
