* {
  font:100%/normal Droid-sans,verdana,geneva,sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Droid-sans;
  src: url("../inflow/fonts/Droid-Sans/DroidSans.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Droid-sans;
  src: url("../inflow/fonts/Droid-Sans/DroidSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

h1.topheader {
  margin: 0px;
  height: 45px;
  line-height: 45px;
  font-size: large;
  background-color: #1a1a1a;
  padding: 0 6px;
}

h1.topheader a {
  font-size: large;
  color: #FFF;
  text-decoration: none;
}

h1.topheader > strong {
  padding-left: 0.25em;
  color: #FFF;
  position: absolute;
  top: 12px;
}

h1.topheader > strong:before {
  content: "\00BB  ";
}

.logo {
  height: 45px;
  width: 124px;
  display: inline-block;
}

.logo img {
  border: none;
}
