.Organizer {
  position: relative;
  margin: 1.6ex 0.5em;
  opacity: 0.3;
}

.Organizer:hover {
  opacity: 1.0;
}

.Organizer:hover ol {
  border-color: #44617E;
  -moz-border-radius: 3px;
}

.Organizer ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid gray;
}

.Organizer > ol > li {
  padding: 0.5em;
}

.Organizer > ol > li:hover {
  background-color: #f9f9f9;
}

.Organizer > ol > li > a {
  text-decoration: none;
  background-color: transparent;
  color: #44617E;
}

.Organizer > ol > li > a[href*=home] {
  font-weight: bold;
}

