@import url("/raindrop/dojo/dijit/themes/dijit.css");
@import url("/raindrop/lib/rdw/css/Search.css");

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/* @font-face typography */

@font-face {
  font-family: Droid-sans;
  src: url("fonts/Droid-Sans/DroidSans.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Droid-sans;
  src: url("fonts/Droid-Sans/DroidSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Droid-sans-mono;
  src: url("fonts/Droid-Sans-Mono/DroidSansMono.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Droid-serif;
  src: url("fonts/Droid-Serif/DroidSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Droid-serif;
  src: url("fonts/Droid-Serif/DroidSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Droid-serif;
  src: url("fonts/Droid-Serif/DroidSerif-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Droid-serif;
  src: url("fonts/Droid-Serif/DroidSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

/* end @font-face typography */

/* begin Andy's modifications */

body {
  color: #1a1a1a;
  font-family: Droid-sans, Helvetica, Arial, Sans-serif;
  font-size: 11px;
  line-height: 14px;
  /*background-image: url("i/baseline.png");*/
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("i/bg.png");
  z-index: 100;
}

#navHeader {
  font-family: droid-serif, georgia, times, serif;
  width: 940px;
  margin: 16px 10px 9px 10px;
}

#navHeader a {
  color: #1a1a1a;
  text-decoration: none;
}

#navHeader a:hover {
  text-decoration: underline;
}

#navHeader select {
  font-family: droid-serif, georgia, times, serif;
  width: 120px;
  margin: 0 7px 0 0;
}

#navHeader ul {
  list-style-type: none;
}

#navHeader li {
  display: inline;
  margin-right: 7px;
}

#stories {
  margin-top: 44px;
}

.inflowgridOrganizer {
  display: inline;
}

.Search {
  display: inline-block;
  border: 1px solid black;
}

.rdwLoading {
  overflow:hidden;
  display: inline-block;
  text-indent: -40em;
  width: 16px;
  height: 16px;
  background-image: url("i/ajax-loader.gif");
  background-color:transparent;
}

#logo {
  position: fixed;
  height: 16px;
  width: 16px;
  background-image: url("i/logo.png");
  z-index: 101;
  top: 15px;
  right: 10px;
}

.rdwStory,
.inflowgridStoryTwitterTimeLine,
.inflowgridStoryMailingList {
  width: 300px;
  height:211px;
  margin: 0 10px 20px 10px;
  float: left;
}

.rdwStory a {
  color: #1a1a1a;
  text-decoration: none;
}

.topActions,
.photo,
.medium {
  display: none;
}

.message .additional {
  display: none;
}

.subject {
  display: block;
  padding: 6px 0 0 0;
  border-top: 1px solid #1a1a1a;
  font-weight: bold;
  color: #FF5959;
  max-height: 14px;
  overflow: hidden;
}

a.subject {
  color: #FF5959;
}

.header {
  display: inline;
}

.from {
  display: inline;
  font-weight: bold;
}

.messageContent {
  display: inline;
}

.reply .subject {
  display: none;
}

.actions {
  margin: 7px 0 0 0;
  text-align: right;
  font-family: droid-serif, georgia, times, serif;
  font-style: italic;
  font-size: 10px;
  display: none;
}

.actions a {
  margin-left: 7px;
}

.rdwMessage {
  outline: none;
}

.rdwMessage:last-child .actions {
  display: block;
}

.rdwMessage.reply {
  padding: 7px 0 0 14px;
  background-image: url("i/arrow.png");
  background-repeat: no-repeat;
}

.timestamp {
  font-family: droid-serif, georgia, times, serif;
  font-style: italic;
  font-size: 10px;
  text-align: right;
}

.timestamp .messageType {
  float: left;
  font-style: normal;
}

.rdwMessage:first-child .timestamp {
  display: block;
}

.rdwMessage .timestamp {
  display: none;
}

.active .timestamp,
.timestamp.active,
.active .tweetTitle,
.tweetTitle.active,
.active .MailingListTitle,
.MailingListTitle.active  {
  background-color: yellow;
}

/* widgets */

.tweetList,
.mailingList {
  padding: 7px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tweetList {
  background-color: #C4F3FF;
}

.mailingList {
  background-color: #FFDEDE;
}

.tweetList .actions a:first-child {
  display: none;
}

.tweetList a {
  color: #1a1a1a;
  text-decoration: none;
}

.tweetTitle {
  border-bottom: 1px solid #1a1a1a;
}

.tweetTitle,
.MailingListTitle {
  font-family: droid-serif, georgia, times, serif;
  display: block;
  font-size: 10px;
}

.tweetList .subject {
  display: none;
}

.tweetList .rdwMessage {
  margin-top: 6px;
  padding-bottom: 1px;
}

.rdwContactSelectorContainer {
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  background-color: yellow;
  border: 1px solid #1a1a1a;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888;
}

.rdwContactSelectorContainer .add {
  padding: 3.5px;
}

.rdwContactSelectorContainer a {
  color: #1a1a1a;
  text-decoration: none;
}

.rdwContactSelectorContainer a:hover {
  text-decoration: underline;
}

.rdwContactSelectorContainer ul {
  list-style-type: none;
}

.rdwContactSelectorContainer li {
  padding: 3.5px;
}

.rdwContactSelectorContainer li:hover {
  text-decoration: underline;
}

.rdwContactSelectorContainer img {
  display: none;
}

/* full story */

.rdwStoryFullStory {
  width: 460px !important;
}

.rdwStoryFullStory .rdwMessage .timestamp {
  display: block;
  margin: 14px 0 0 0;
}

.rdwStoryFullStory .rdwMessage .actions {
  display: block;
  margin: 0 0 14px 0;
}



.rdwStoryFullStory .from {
  border-top: 1px solid #1A1A1A;
  width: 100%;
  display: block;
  color: #FF5959;
  padding-top: 6px;
}

.rdwStoryFullStory .fullMessageTitle {
  display: inline-block;
  font-weight: bold;
  color:#FF5959;
  max-width: 300px;
}

.rdwStoryFullStory .toolBox {
  display: inline;
  float: right;
  font-family: droid-serif, georgia, times, serif;
  font-style: italic;
  font-size: 10px;
}

.rdwStoryFullStory .toolBox a {
  margin: 0 0 0 7px;
}

.rdwStoryFullStory .content {
  display: block;
  margin: 7px 0 0 0;
}

.QuickCompose {
  background-color: #FFDEDE;
  margin: 0;
  width: 100%
}

.QuickComposeTwo {
  background-color: transparent;
  width: 620px;
  padding: 9px 0 0 10px;
  color: #1a1a1a;
}

.QuickCompose .characterCount {
  float: right;
  padding: 14px 0 0 0;
}

.QuickCompose .subject {
  border-top: none;
  display: block;
  max-height: none;
  font-weight: normal;
  color: #1a1a1a;
  margin-bottom: 10px;
  padding: 0;
}

.QuickCompose input.subjectInput {
  background-color: #1a1a1a;
  color: white;
  padding: 3.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  border: 1px solid #1a1a1a;
}

.QuickCompose textarea {
  width: 620px;
  min-height: 84px;
  background-color: #1a1a1a;
  padding: 3.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: Droid-sans, Helvetica, Arial, Sans-serif;
  font-size: 11px;
}

.QuickCompose .actions {
  display: block;
  padding-bottom: 7px;
}

.QuickCompose .actions a.close {
  color:#1A1A1A;
  text-decoration:none;
  margin-right: 7px;
}

.QuickCompose input.send {
  background-color: transparent;
  color: #1a1a1a;
  font-family: droid-serif, georgia, times, serif;
  font-style: italic;
}

.QuickCompose .to {
  margin-bottom: 6px;
}

.invisible {
  visibility: hidden;
}

.QuickCompose {
  height: auto;
}

/* hacking away at inputs in quickcompose :( */

.dijitTextBox, .dijitComboBox, .dijitSpinner {
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  vertical-align: middle;
  width: 220px !important;
  display: block !important;
  padding: 3.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dijitTextBox input, 
.dijitComboBox input, 
.dijitSpinner input {
  color: white !important;
}

.dijitButtonNode {
  border: none !important;
  background-image: url("i/dropdown.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.dijitArrowButton {
  padding: 0 2px;
}

.dijitMenu {
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  background-color:yellow;
  border:1px solid black;
}

.dijitMenuItem {
  color: #1a1a1a;
  padding: 3.5px !important;
}

.dijitMenuItem:hover {
  text-decoration: underline;
}

.dijitMenuItem li {
  background-color: transparent !important;
}

.dijitMenuItem li:hover,
.dijitReset li:hover {
  background-color: transparent !important;
}

