.extenderBackEndEditor .header {
  padding: 6px;
}

.extenderBackEndEditor iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom:-3px;
}

.extenderBackEndEditor .delete {
  position: absolute;
  right: 6px;
}
