.extenderSchemaSelector {
  padding: 0;
}

.extenderSchemaSelector ul {
  font-size: small;
}

.extenderSchemaSelector a {
  color: blue;
  text-decoration: none;
}

.extenderSchemaSelector li {
  list-style-type: decimal-leading-zero;
}