.extenderSchemaSelector {
  padding: 6px;
}

.extenderSchemaSelector ul {
  font-size: small;
}

.extenderSchemaSelector a {
  color: blue;
  text-decoration: none;
}

.extenderSchemaSelector li {
  list-style-type: decimal;
}