.extenderWizard {
  padding: 10px;
  background-color: #AFAFAF;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: small;
}

.extenderWizard h1,
.extenderWizard h2,
.extenderWizard h3 {
  font-weight: bold;
  font-size: 100%;
}

.extenderWizard .disabled {
  color: gray;
}

.extenderWizard .actions {
  position: relative;
}

.extenderWizard .actions .close {
  position: absolute;
  right: 0;
}

.extenderWizard .panelContainer {
  overflow: hidden;
}

.extenderWizard .panels {
  width: 8000px;
  overflow: auto;
}

.extenderWizard .panel {
  display: block;
  float: left;
  overflow: hidden;
}
