@import url("/raindrop/rd_list/index.css");
@import url("/raindrop/lib/rdw/css/Message.css");

.extenderWizard .nav {
  position: absolute;
  right: 10px;
  top: 12px;
}

.extenderWizard .wrap { display: table; }
.extenderWizard .row { display: table-row; }
.extenderWizard .column { display: table-cell; max-width: 30em; padding: 1em; }
.extenderWizard .column:first-child { border-right: 1px solid #afafaf; }

.extenderWizard .miners { text-align: left; min-height: 20em; }
.extenderWizard .miners > ul { text-align: left; list-style: none; padding-left: 0; }
.extenderWizard .miners > ul > li { padding: 0.5em 0; display: none; }
.extenderWizard .date-processing { text-transform: capitalize; border-bottom: 0px dotted #0066dd; cursor: pointer; }
.extenderWizard .date-processed { background-color: #efefef; }
.extenderWizard .date-processed:hover { color: #fff; background-color: #0066dd; border-bottom-style: solid; }

.extenderWizard .rdwMessage { 
  cursor: pointer;
  font-family: Arial, Verdana, sans-serif; 
}

.extenderWizard .rdwMessage .message {
  margin-left: 0;
}

.extenderWizard .rdwMessage .header {
  border-bottom: none;
}

.extenderWizard .rdwMessage .from {
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.extenderWizard .rdwMessage .subject{
  font-variant: normal;
}

.extenderWizard .rdwMessage > .message > .timestamp {
  display: none;
}

.extenderWizard .widget-extension {
  display: none;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ffee20;
  background-color: #ffffe0;
  text-decoration: none;
}

.extenderWizard .panelContainer {
  overflow: hidden;
}

.extenderWizard .panels {
  width: 8000px;
  overflow: auto;
  font-size: small;
}

.extenderWizard .panel {
  display: block;
  float: left;
  overflow-x: auto;
  overflow-y: auto;
}

.extenderWizard .menu {
  text-align: left; 
  padding:0.5em;
  font-size:small;
  color: #1a1a1a;
}

.extenderWizard .menu a {
  color: #1a1a1a;
  text-decoration: none;
}

.extenderWizard .menu a:hover {
  text-decoration: underline;
}

.extenderWidgetSelector {
  padding: 6px;
}
