<div class="rdwMessage rdwStoryFullMessage ${type}" tabindex="0" dojoAttachEvent="onclick: onClick">
  <div class="message">
    <div class="header">
      
    <div class="timestamp" title="${utcTime}">
      <!--<span class="friendly">${friendlyTime}</span>-->
      <span class="messageType">Message Type</span>
      <span class="additionalTime">${additionalTime}</span>
    </div>
      
      <span>
        <a target="_blank" class="from" dojoAttachPoint="fromNameNode">${fromName}</a>
        </span>
      <span class="medium">${fromId}</span>
    </div>
    <div class="content">    
      ${message}
    </div>
    <div class="attachments"></div>
    <div class="actions" dojoAttachPoint="actionsNode">
      <a class="reply" href="#reply">Reply</a>
      <a class="fwd" href="#forward">Forward</a>
    </div>
  </div>
  <div class="shadow"></div>
</div>
