<div class="extenderEditor">
  <div class="header">
    <form onsubmit="return false;">
      <div class="actions">
        <button class="try" dojoAttachPoint="tryNode" dojoAttachEvent="onclick: onTryClick">Try this example</button>
        <span dojoAttachPoint="enabledSectionNode"><input type="checkbox" dojoAttachPoint="enabledNode" dojoAttachEvent="onclick: onEnableClick"> Enabled</span>
        <button dojoAttachPoint="cloneNode" dojoAttachEvent="onclick: onClone">Clone</button>
        <button dojoAttachPoint="saveNode" dojoAttachEvent="onclick: onSave">Save</button>
        <button class="delete" dojoAttachPoint="deleteNode" dojoAttachEvent="onclick: onDelete">Delete</button>
      </div>
      <div dojoAttachPoint="statusNode" class="status">
      </div>
    </form>
  </div>
  <iframe src="${iframeUrl}" dojoAttachPoint="iframeNode" dojoAttachEvent="onload: onIframeLoad"></iframe>
</div>
