<div class="extenderSchemaExplorer">
  <h1>${schemaId}</h1>

  <form class="privateForm" onsubmit="return false">
    <input type="checkbox" dojoAttachPoint="showPrivateNode" dojoAttachEvent="onclick: onShowPrivateClick">
    Show private properties
  </form>

  <table dojoAttacPoint="tableNode">
    <thead>
      <tr>
        <th>Property</th>
        <th>Example Value</th>
      </tr>
    </thead>
    <tbody dojoAttachPoint="tbodyNode">
    </tbody>
  </table>
  
  <h2>Example documents</h2>
  <pre dojoAttachPoint="exampleNode"></pre>
</div>
