<div class="extenderWizard" dojoAttachEvent="onclick: onClick">
  <h1 class="topheader">
    <a href="/raindrop/rd_list/index.html"><img style="border:none; padding-top:10px;" src="${logoImgUrl}"/></a><strong>extensions</strong>
    <span class="nav">
      <a dojoAttachPoint="backNode" href="#extender-back">&lt;Back</a>
      <a dojoAttachPoint="forwardNode" href="#extender-forward">Forward&gt;</a>
    </span>
  </h1>
  <div class="panelContainer" dojoAttachPoint="panelContainerNode">
    <div class="panels" dojoAttachPoint="panelsNode">
      <div class="panel" dojoAttachPoint="panelNode">

        <div class="menu">
          <a href="#">Tutorial</a> |
          <a href="#extender-ui-extender.UiManager">Your Extensions</a> |
          <a href="#">Reference</a> |
          <a href="#extender-ui-extender.SchemaSelector">Query Tool<a>
        </div>
        <div class="wrap">
        <div class="row">
          <div class="column">
            <h3>Miners</h3>
            <div class="miners">
              <img src="${nobodyImgUrl}"/>
              <p>Miners help you find hidden data in your messages so it can be searched or displayed in the inflow</p>
              <ul>
                <li class="w">Lets get lunch <span class="date tomorrow">tomorrow</span></li>
                <li class="y">Are you free on <span class="date tuesday">tuesday</span> for dinner?</li>
              </ul>
            </div>
          </div>
          <div class="column">
            <h3>Extensions</h3>
            <div class="extenders">
            <div class="Message ">
              <div class="photo"><img src="http://www.gravatar.com/avatar/8ea890a677d6a223c591a1beea6ea9d2.jpg?d=wavatar&amp;s=48" dojoattachpoint="userPicNode" class="photo"/></div>
              <div class="message">
                <div class="header">
                  <span class="from">
                    <a class="from" href="#extender-ui-extender.WidgetSelector">Widget Extender</a>
                    </span>
                  <span class="medium">widgets@raindrop</span>
                </div>
                <div class="content">
                  <span class="subject">Extend the display of widgets!</span> The display of messages can be extended to include any number of different widget types.
                <a href="#extender-ui-extender.WidgetSelector" class="widget-extension">Add Calendar Events, Link Detection, Attachment Previews</a>
                </div>
                <div class="tools">
                </div>
                <div title="Fri, 08 May 2009 20:51:10 GMT" class="timestamp">
                  <span class="friendly">5 weeks ago</span>
                  <span class="additional">Friday May  8</span>
                </div>
                <div class="toolAction">
                </div>
            </div>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>
