#wrap {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 400px;
}

#settings {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 400px;
}

/*** ACCOUNT ***/

.account {

}

.account .name {
  font-weight: bold;
}

.account .url {
  font-size: small;
  font-weight: normal;
  color: #999;
}

.account a.delete {
  float: right;
  margin: 3px 3px 0 0;
  font-size: xx-small;
  text-decoration: underline;
  color: #0066dd;
  cursor: pointer;
}
.account a.delete:hover {
  color: rgb(200,20,20);
}

/*** TWITTER ***/

.twitter\.com:before {
  content: "/";
}

/*** LOGIN ***/

table.login {
  margin: 0;
  padding: 0;
  font-size: normal;
  width: 100%;
}

table.login input {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  background-color:#1A1A1A;
  border:medium none;
  color:#FFFFFF;
  padding:6px;
  width:100%;
}

