.QuickCompose {
  position: relative;
  max-width: 80ex;
  margin: 1.6ex 0.5em;
  padding: 0.5em 0;
}

.QuickCompose div.photo {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 2px;
  vertical-align: top;
  background-color: #efefef;
}
 
.QuickCompose div.photo img.photo {
  width: 48px;
  height: 48px;
  border: 1px dashed gray;
}

.QuickCompose div.photo img.photo[src] {
  border: 0;
}

.QuickCompose .compose {
  display: inline-block;
  padding-left: 0.5em;
  width: 31em;
}

.QuickCompose .info {
  color: #666666;
}

.QuickCompose .info .name {
  font-family: Arial Black, Gadget, sans-serif;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.QuickCompose .info .medium {
  font-family: Lucida Console, Monaco, monospace;
  font-size: x-small;
}

.QuickCompose form {
  display: block;
  max-width: 70ex;
  margin: 0px;
  padding: 0px;
}
 
.QuickCompose input {
  /* eventually we'll use some real styling so this is more of a subtle button
    instead of the very visible OS button that it is now */
  letter-spacing: 0.2ex;
  font-weight: bold;
  vertical-align: bottom;
}
 
.QuickCompose textarea {
  border: 1px solid #AFAFAF;
  width:80%;
  height: 3ex;
  padding: 0.4ex;
  -moz-border-radius: 3px;
}
