.Search {
  position: relative;
}

.Search > form {
  margin: 0px;
  padding: 0px;
}

.Search > form > input {
  width: 100%;
  border: 1px solid gray;
  background-image: url('chrome://global/skin/icons/Search-glass.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  background-position: 97% center;
}

.Search ol {
  list-style: none;
  padding: 0px;
  margin: 0.5em 0px;
}

.Search > ol > li {
  padding: 0.1em;
}

.Search > ol > li > a  {
  font-size: x-small;
  text-decoration: none;
  color: #44617E;
}

.Search > ol > li > a:hover {
  text-decoration: underline;
}
